<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static '/bootstrap/bootstrap.min.css' %}">
</head>

<script src="{% static '/jquery/jquery.min.js' %}"></script>
<script src="{% static '/bootstrap/bootstrap.min.js' %}"></script>

<body>
    <div class="container col-lg-12" style="padding:50px;">
        <form method="post" class="form">
            {% csrf_token %}
            <div class="col-lg-12 form-group">
                <input id="number" type="text" class="form-control" name="number" value="{{number}}"
                       placeholder="Input a Number">
            </div>
            <div id="err_msg" class="col-lg-12 text-danger" style="display:none;">
                Input a Valid Number!
            </div>
            <div class="col-lg-12 text-success" id="result">
                {% if result %}
                 {{result}}
                {% endif %}
            </div>
            <div class="col-lg-12">
                <input type="submit" class="btn btn-success" value="Find" style="margin: 0 auto;display: block;">
            </div>
        </form>
    </div>
</body>

<script>
    $('#number').on("keyup", function(){
        $("#result").html('');
        value = $(this).val();
        if (value){
            if  (/^\d+$/.test(value)){
                $("#err_msg").hide();
                $("#number").removeClass('is-invalid');
            }else{
                $("#err_msg").show();
                $("#number").addClass('is-invalid');

            }
        }
    });
</script>

</html>